body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #e2e2e2;
}


.display {
    font-size: 4rem;
    margin: 2rem 0;
    padding: 2rem;
    min-width: 500px;
    font-weight: bold;
}

.buttons {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    border-radius:50px;
    background-color: #8a1b1b;
    color: white;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

.positive {
    color: green;
}

.negative {
    color: red;
}

.zero {
    color: black;
}